body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000;
}

.button{
    text-decoration: none;
    padding: 20px 32px;
    border: 3px solid #aaa;
    color: #aaa;
    font-family: "Varela Round";
    transition: all 0.3s;
    transition-delay: 0.1s;
    position: relative;
    overflow: hidden;

    /* if u dont want the reflection you can remove this */
    -webkit-box-reflect: below 1px
                          linear-gradient(transparent,rgba(0,0,0,0.4));
}

.arrow{
    transition: margin 0.3s;

}

.button::before{
    content: '';
    position: absolute;
    width: 200px; height: 120px;
    background-color: rgba(255,255,255,0.2);
    transform: translateX(-110%) rotate(45deg);
    transition: all 1.2s cubic-bezier(0.15,1,0.19,1);

}

.button::hover{
    border: 3px solid #fff; color: #fff;

}

.button::active{
    background-color: #fff;
    color: #111;
}

.button::hover::before{
    background-color: #fff;
    transform: translate(115%,-50px) rotate(90deg);
}

.button:hover .arrow{
    margin-left: 10px;
}
